body{
    background-color: #f4f4f4;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin:0;
    line-height: 1.6em;
}
#my-header{
    overflow:hidden;
    background-color:coral;
    color: #000;
    text-align: center;
}
#navbar{
    background-color: #000;
}
#navbar li{
    display: inline;
}
#navbar ul{
    padding:0;   
}
.container{
    overflow:hidden;
    padding-left:2%;
}
a{
    color:#fff;
    padding-right:10px;
    text-decoration: none;
    font-size:18px;
}
a:hover{
    color:thistle;
}
.button{
    text-align: center;
    position: absolute; /* Fixed/sticky position */
    width:48%;
    box-sizing: border-box;
     /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(197, 192, 192); /* Set a background color */
    color: rgb(15, 15, 15); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 30px; /* Increase font size */
}
.button:hover
{
    color:rgb(94, 83, 94);
    background-color:rgb(211, 211, 211) ;
}
#main-footer{
    padding-top: 70%;
    text-align: center;
    
}