/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f1f1f1;
  min-height: 100vh;
  background: url("../home-page/images/WhatsApp\ Image\ 2020-10-18\ at\ 6.45.23\ PM.jpeg");
}

.contact-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 5%;
}
.the{
  margin-top: 2%;
}
.tile{
  height: 360px;
  width: 80%;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: #151515;
  transition: all 0.2s;
}

.card-icon{
  font-size: 28px;
  /* background: #ff6348; */
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
/* 
.tile:hover .card-icon{
  background: none;
  /* color: #ff6348; */
  /* transform: scale(1.6);
} */ 

.tile p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 1;
  transition: 0.3s linear;
}

/* .tile:hover p{
  max-height: 40px;
  opacity: 1;
} */

.tile img{
  width:90px;
  height:90px;
  border-radius: 50%;
}

/* FLOAT USES  */
/* .card-icon{
  float:left;
}
.tile .text{
  float:right;
} */



nav{
  background: #151515;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li{
  padding: 15px 0;
}

nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  transition: 0.5s;
  font-family: 'Roboto Slab', serif;
}
nav ul li.items::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.5s linear;
}

nav ul li.items:hover::after{
  opacity: 1;
  bottom: 10px;
}

nav ul li.logo{
  flex: 1;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 900;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a{
  color: #33ffff;
}
/*Media Queries*/
@media all and (max-width: 900px){
  nav{
      padding: 5px 30px;
  }
  nav ul li.logo{
      order: 1;
  }
  nav ul li.items{
      width: 100%;
      order: 3;
      display: none;
      transition: 0.5s;
  }
  nav ul li.items.show{
      display: block;
  }
  nav ul li.items:hover{
      border-radius: 5px;
      box-shadow: 0 0 5px #33ffff,
                  0 0 10px #66ffff;
  }
  nav ul li.items:hover::after{
      opacity: 0;
  }
  .toggle{
      order: 1;
      transition: 0.5s;
      cursor: pointer;
      margin-bottom: 5px;
  }
  .bars{
      background: #ffffff ;
      display: inline-block;
      height: 3.5px;
      position: relative;
      width: 22px;
      transition: 0.5s;
  }
  .bars::before,.bars::after{
      background: #ffffff;
      content: '';
      display: inline-block;
      height: 3.5px;
      position: absolute;
      width: 22px;
      transition: 0.5s;
  }
  .bars::before{
      top: 6px;
  }
  .bars::after{
      top: -6px;
  }
  
  .toggle.close .bars{
      background: rgba(0, 0, 0, 0);
  }
  .toggle.close .bars::before{
      top: 0;
      transform: rotate(45deg);
  }
  .toggle.close .bars::after{
      top: 0;
      transform: rotate(135deg);
  }
  .contact-info{
    padding-top: 10%;
    flex-direction: row;
  }
  .tile{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
  
  /* FLOAT USES  */
  .card-icon{
    float:left;
  }
  .tile .text{
    float:right;
  }

}
