/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('ecommerce-3546296.jpg') no-repeat ;
}
nav{
    /*background: #151515;*/
    background: transparent;
    padding: 5px 40px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li{
    padding: 15px 0;
}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;
}
nav ul li.items::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.5s linear;
}

nav ul li.items:hover::after{
    opacity: 1;
    bottom: 10px;
}

nav ul li.logo{
    flex: 1;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 900;
    cursor: default;
    user-select: none;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}
nav ul li:hover a{
    color: #33ffff;
}

/*Media Queries*/
@media all and (max-width: 900px){
    nav{
        padding: 5px 30px;
    }
    nav ul li.logo{
        order: 1;
    }
    nav ul li.items{
        width: 100%;
        order: 3;
        display: none;
        transition: 0.5s;
    }
    nav ul li.items.show{
        display: block;
    }
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow: 0 0 5px #33ffff,
                    0 0 10px #66ffff;
    }
    nav ul li.items:hover::after{
        opacity: 0;
    }
    .toggle{
        order: 1;
        transition: 0.5s;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .bars{
        background: #ffffff ;
        display: inline-block;
        height: 3.5px;
        position: relative;
        width: 22px;
        transition: 0.5s;
    }
    .bars::before,.bars::after{
        background: #ffffff;
        content: '';
        display: inline-block;
        height: 3.5px;
        position: absolute;
        width: 22px;
        transition: 0.5s;
    }
    .bars::before{
        top: 6px;
    }
    .bars::after{
        top: -6px;
    }
    
    .toggle.close .bars{
        background: rgba(0, 0, 0, 0);
    }
    .toggle.close .bars::before{
        top: 0;
        transform: rotate(45deg);
    }
    .toggle.close .bars::after{
        top: 0;
        transform: rotate(135deg);
    }
}




    
 


    /* contact form */
.form-container {
    padding: 2%;
    background: #1a1a1a;         
    font-family: 'Roboto Slab', serif;
  }

form label,h1{
    color: white;
    font-family: 'Roboto Slab', serif;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
} 

textarea{
  height: 200px;
}

#reused_form .button-primary{
    height: 50px;
    width: 100px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    font-weight: 800;
    border-radius: 10%;
}

#reused_form .button-primary:hover{
    background-color: black;
    color: white;
}
    
@media screen and (max-width: 768px) 
{

    .form-container {
      padding: 5%;
      /* background: #ffffff; */
      /* border: 6px solid #000000;             */
      max-width: 520px;
      margin: auto;
      font-family: 'Roboto Slab', serif;
    }

}

   /*------------------------------------------------------- FOOTER!!!!!!----------------------------------------------------------------------- */
   html,body{
    height:100%;
 }


.myfooter{
 color:white;
 padding:20px;
 background-color:  #151515;
 width: 100%;
}
.full{
    display: flex;
}
.copy p{
    margin-bottom: 0;
    text-align: center;
}
.myfooter .top i{
 background: rgb(78, 74, 74) ;
 padding:15px;
 border-radius: 5px;
 font-size: 17px;
 margin-bottom: 20px;
 color:#fff;
}
.myfooter .top i:hover{
    transform: scale(1.05);
}

.myfooter .footerlinks a{
 display: inline-block;
 text-decoration: none;
 color: #66ffff;
 font-size: 17px;
}
.myfooter .footerlinks a:hover{
 transform:scale(1.1);
}

.myfooter .footer-center,
.myfooter .footer-right,
.myfooter .footer-left{
 display: inline-block;
 flex:1;
 vertical-align: top;
}
.myfooter .footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myfooter .name{
 vertical-align: middle;
 color:#f4f4f4;
 align-items: center;

}
.myfooter .footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: jus; */
}
.myfooter .footer-right i{
 border-radius: 50%;
 background: rgb(78, 74, 74);
 text-align: center;
 line-height: 30px;
 width:30px;
}
.myfooter .footer-right p{
 display: inline;
 vertical-align: middle;
 margin:0;
 font-weight: normal;
}
.myfooter .footer-right a{
 text-decoration: none;
 color:#66ffff;
}
.myfooter .footer-right a:hover{
    color:#04b6b6;
}
.myfooter .footer-center .footerlinks a:before{
 content:"|";
 font-weight: normal;
 font-size: 20px;
 color:#fff;
 padding-right: 10px;
 padding-left: 10px;
 display: inline-block;
 left:0;
}
.myfooter .footer-center .footerlinks .link1:before{
 content: none;
}
.myfooter .footer-left h3{
 text-align: right;
}
.myfooter .footer-left .footerMPAC span{
 display: block;
 color:#fff;
 font-size: 16px;
 font-weight: normal;
 font-family: 'Raleway',sans-serif;
 margin-bottom: 20px;
}
.myfooter .footer-left{
 width:30%;
 padding-right: 0%;
}
.myfooter .footer-left .footersocial{
display: flex;
justify-content: center;
padding-bottom: 5px;
}
.myfooter .footer-left .footersocial a{
 display: inline-block;
 color:#fff;
 border-radius: 4px;
 background:rgb(78, 74, 74) ;
 line-height:30px;
 width:30px;
 text-align: center;
 margin-right: 10px;
 vertical-align: middle;
 /* justify-content: space-around; */
 /* align-items: center; */
}
.myfooter .footer-left .footersocial a:hover{
    transform: scale(1.2);
  
}

.myfooter .footer-left .footerMPAC{
 /* text-align: justify; */
 padding-bottom: 5px;
}
.myfooter .footer-left .footerMPAC span{
 font-weight: 900;
 /* text-align: center; */
}

/*---------------------------------------------------- IMPORTANT!!!-------------------------------------------------------- */


/* This is to make sure that the footer stays at the bottom and the class may not be .container make changes accordingly */
/* take the biggest div tag in body that takes up the important part */
.container{
 min-height:calc(100vh - 210.4px);
}


@media (max-width:760px)
{
    .myfooter .full{
        font-size: 14px;
        flex-direction: column;
    }
    .myfooter .footer-center,
    .myfooter .footer-right,
    .myfooter .footer-left{
        display:block;
        text-align: center;
        width:100%;
    }
    /* .myfooter .footer-left .footerMPAC{
        text-align: center;
    } */
}